name: CI/CD flow

on:
    push:
        branches: -main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
            - name: Setup node
              uses: actions/setup-node@v2
              with:
                node-version: '14'
            - name: Install dependencies
              run: npm ci
            - name: Formatting and linting
              run: |
                npm run format:check
                npm run lint
            - name: Tests
              run: npm run test
